.footer-li ul li {
    list-style-type: none;
}
 .footer-li li a:hover {
   font-weight: bold;
}

.footer-li li p:hover {
   font-weight: bold;
}

.reseaux a {
  color: #d8dce096;        
  transition: color 0.3s ease;
}

.reseaux a:hover {
  color: #ffffff;       
}

span {
  font-size: large;
  color: rgb(195, 195, 195);
}

.reseaux {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  font-size: 28px;
}