.header-li ul li {
    text-transform: uppercase;
}

.header-li  ul li :active{
  
    font-weight: bold;
    text-decoration: underline;
}

.header-li ul li :hover {
      font-weight: bold;
    text-decoration: underline;
}